/* Estilo general de fondo */
.fondo {
    -fx-background-color: #e3ecf3; /* Gris-azulado claro */
}

/* Estilo de la barra de menú */
.menu {
    -fx-background-color: linear-gradient(to right, #0d47a1 1%, #42a5f5 50%, #0d47a1 99%);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Estilo del menú principal */
.subMenu {
    -fx-background-color: transparent; /* Eliminamos el fondo */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Para evitar que el hover tenga un fondo sólido */
.subMenu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Ligero cambio al pasar el mouse */
}

/* Estilo de los items del menú */
.item {
    -fx-background-color: transparent;
    -fx-text-fill: #f4f9fd; /* Color claro para los textos */
    -fx-padding: 8px 15px; /* Padding original */
}

/* Efecto hover en los items del menú */
.item:hover {
    -fx-background-color: linear-gradient(to right, #0d47a1 1%, #42a5f5 50%, #0d47a1 99%); /* Azul más claro para hover */
    -fx-text-fill: white;
}

/* Títulos de secciones dentro del BorderPane */
.titulo {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-text-fill: #1c3550; /* Color oscuro para los títulos */
    -fx-font-family: "Arial";
}

